.Container {
  width: 100%;
}

.Gallery {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Item {
  width: 300px;
  margin: 16px;
}

.Item img {
  width: 100%;
}
